header{
    background-color: brown;
    height: 80px;
    .container{
        height: 100%;
        .navbar{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                li{
                    padding: 0;
                    a{
                        color: white;
                        text-decoration: none;
                        padding: 10px 15px;
                        display: block;
                        border-radius: 5px;
                        overflow: hidden;
                        transition: background-color .2s;
                        &:hover{
                            background-color: white;
                            color: brown;
                        }
                    }
                }
            }
        }
    }
}